.comment-container
{
    right: 0;
    width: 450px;
    background: var(--body-color);
    box-shadow: 0 0 1px var(--box-border-color);
}

.comment-back
{
    background-color: transparent;
    border: none;
    outline: 0;
    width: 32px !important;
    height: 32px;
}

.post-user-avatar
{
    width: 40px;
    height: 40px;
    border-radius: 4rem;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}

.post-user-name
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 10.8rem;
    font-size: medium;
}

.post-user-comment-count
{
    font-size: 13px;
    color: var(--bs-dark-text);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}