/* Modal colors */
.modal-content {
    box-shadow: 0 0 1px var(--timer-color);
    background-color: var(--body-color);
}

.modal-header, .modal-footer {
    box-shadow: 0 0 2px var(--timer-color);
    border: none !important;
}

.cr-viewport.cr-vp-square {
    border: 1px solid var(--timer-color);
}