/* Start: Chat Header */
.w-webkit {
    width: -webkit-fill-available;
}

span.text-truncate {
    color: var(--text-color);
}

p.text-truncate.mb-0 {
    color: var(--timer-color);
    font-size: 12px;
}

.chat-header {
    border-bottom: 1px solid var(--bg-body-color);
    background: var(--body-color);
}

.avatar, .avatar-img, .avatar-text {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* End: Chat Header */


/* Start: Chat Body */
.message {
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
}

.message-inner {
    max-width: 70%;
    min-width: 0;
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 0.5rem;
}

.message-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.message-text {
    background: var(--bg-body-color);
    border-radius: 0.6rem;
    padding: 0.6rem 1rem;
    color: var(--text-color);
    overflow: hidden;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-footer {
    line-height: 1.3;
    margin-top: 0.25rem;
}

.extra-small {
    font-size: 0.665em;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #757476 !important;
}

.message-divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.message.message-out {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.message-out .message-content {
    display: flex;
    justify-content: flex-end;
}

.message-out .message-text {
    background: #2787f5;
    border-radius: 0.6rem;
    color: #fff;
}

.message-out .message-footer {
    text-align: right;
}

.message + .message {
    margin-top: 1rem;
}
/* End Chat Body */


/* Start Chat Footer */
.chat-footer {
    margin-left: 1rem;
    margin-right: 1rem;
    position: sticky;
    bottom: 0;
}

.chat-footer::before {
    position: absolute;
    background: rgb(22 25 28 / 0%);
    --webkit-backdrop-filter: blur(10px) saturate(200%);
    backdrop-filter: blur(10px) saturate(200%);
    display: block;
    height: 4.5rem;
    width: -webkit-fill-available;
    left: -0.9rem;
    right: -1rem;
    bottom: 0;
    content: "";
}

.chat-form {
    position: relative;
    padding: 0.5rem;
    background: #1e2126;
}

.btn-icon {
    line-height: 0;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
    color: #adb5bd !important;
    height: calc(1.6em + 1.1875rem + 4px);
    width: calc(1.6em + 1.1875rem + 4px);
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 120%;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
    background-color: #ffffff00;
    background-clip: padding-box;
    border: 2px solid #ffffff00;
    appearance: none;
    border-radius: 0.6rem;
}

.form-control:focus {
    color: var(--text-color);
    background-color: #ffffff00;
    border-color: #ffffff00;
    outline: none;
    box-shadow: none;
}

.btn-primary {
    color: #fff !important;
    background-color: #2787f5;
    border-color: #2787f5;
}
/* End Chat Footer */