/* start: Chat */
.chat-container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--body-color);
    position: relative;
}
.remove-msg {
    background: var(--text-color);
    border-radius: 2rem;
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
}
/* end: Chat */


/* start: Content side */
.content-sidebar {
    width: 280px;
    background-color: var(--body-color);
    box-shadow: 0 0 1px var(--box-border-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.content-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
    color: var(--box-border-color);
    display: flex;
    align-items: center;
}
.content-messages {
    overflow-y: auto;
    height: 100%;
}
.content-messages-list {
    list-style-type: none;
    padding: 8px 0;
}
.content-messages-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-700);
    padding: 6px 16px;
}
.content-messages-list > * > a:hover {
    background-color: var(--slate-50);
}
.content-messages-list > .active > a {
    background-color: var(--slate-100);
}
.g_name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 10.8rem;
    font-size: medium;
}
span.text.edit-title-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 13rem;
}
.content-message-title {
    color: var(--bs-dark-text);
    font-size: 13px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-message-title > * {
    position: relative;
    z-index: 1;
    padding: 0 8px 0 8px;
    background-color: var(--body-color);
}
.content-message-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0 0 0.1px var(--box-border-color);
}
.content-message-image {
    width: 40px;
    height: 40px;
    border-radius: 4rem;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}
.content-message-info {
    display: grid;
    margin-right: 12px;
    width: 100%;
    text-transform: capitalize !important;
    letter-spacing: 0 !important;
}
.content-message-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 8rem;
}
.content-message-text {
    font-size: 13px;
    color: var(--bs-dark-text);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-message-more {
    text-align: right;
}
.content-message-unread {
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: green;
    padding: 2px 4px;
    border-radius: 4px;
}
.content-message-time {
    font-size: 12px;
    color: var(--bs-dark-text);
    font-weight: 500;
}
/* end: Content side */



/* start: Conversation */
.conversation {
    background-color: var(--bg-body-color);
    height: 100%;
    padding-left: 0;
    display: none;
}
.conversation.active {
    display: flex;
    flex-direction: column;
}
.conversation-top {
    padding: 8px 10px;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
}
.conversation-back {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--bs-dark-text);
    margin-right: 12px;
    display: none;
}
.conversation-back:hover {
    background-color: var(--slate-100);
    border-radius: 50%;
    color: var(--slate-600);
}
.conversation-back:active {
    background-color: var(--slate-200);
}
.conversation-user {
    display: flex;
    align-items: center;
}
.conversation-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.conversation-user-name {
    font-weight: 500;
    font-size: 17px;
    color: var(--text-color);
}
.conversation-user-status {
    color: var(--bs-dark-text);
    font-size: 13px;
}
.conversation-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.conversation-buttons > * {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    color: var(--slate-600);
    margin-left: 4px;
}
.conversation-buttons > :hover {
    background-color: var(--slate-100);
    color: var(--slate-700);
}
.conversation-buttons > :active {
    background-color: var(--slate-200);
}

.conversation-main {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.conversation-wrapper {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.conversation-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.conversation-item.me {
    flex-direction: row;
}
.conversation-item-side {
    margin-left: 8px;
    margin-right: 8px;
}
.conversation-item.me .conversation-item-side {
    margin-right: 8px;
}
.conversation-item-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.conversation-item-wrapper:not(:last-child) {
    margin-bottom: 8px;
}
.conversation-item-box {
    width: 18rem;
    position: relative;
}
.conversation-item.me .conversation-item-box {
    margin-left: unset;
}
.conversation-user {
    color: var(--bs-white);
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    text-overflow: ellipsis;
}
.conversation-item-text {
    padding: 5px 16px 5px;
    background-color: var(--bs-green);
    color: var(--bs-white);
    font-size: 14px;
    border-radius: 10px 10px 0 10px;
    width: fit-content;
    margin: auto;
    margin-right: unset;
}
.conversation-item.me .conversation-item-text {
    margin: auto;
    margin-left: unset;
    width: fit-content;
    border-radius: 10px 10px 10px 0;
}
.conversation-item.me .conversation-item-text {
    background-color: var(--bs-info-text);
    color: var(--bs-white);
}
.conversation-item-time {
    font-size: 10px;
    color: var(--bs-white);
    display: block;
    text-align: right;
    margin-top: 4px;
    line-height: 1;
}
.conversation-item.me .conversation-item-time {
    color: var(--bs-white);
}
.conversation-item.me .conversation-item-dropdown {
    left: unset;
    right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown {
    opacity: 1;
    visibility: visible;
}
.conversation-item-dropdown-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--body-color);
    outline: transparent;
    border: 1px solid var(--slate-200);
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.conversation-item-dropdown-toggle:hover {
    background-color: var(--emerald-500);
    color: var(--body-color);
    box-shadow: 0 2px 12px -2px var(--emerald-500);
}
.conversation-item-dropdown-toggle:active {
    background-color: var(--emerald-600);
}
.conversation-item-dropdown-list {
    position: absolute;
    top: 43px;
    right: 19rem;
    background-color: var(--bs-dark);
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    list-style-type: none;
    transform-origin: left top;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-list {
    left: unset;
    right: 0;
}
.conversation-item-dropdown.active .conversation-item-dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.conversation-item-dropdown-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bs-dark-text);
    font-size: 13px;
    padding: 6px 12px;
}
.conversation-item-dropdown-list a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.conversation-item-dropdown-list a:active {
    background-color: var(--slate-200);
}
.conversation-item-dropdown-list a i {
    font-size: 16px;
    margin-right: 8px;
}
.coversation-divider {
    text-align: center;
    font-size: 13px;
    color: var(--bs-dark-text);
    margin-bottom: 16px;
    position: relative;
}
.coversation-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
}
.coversation-divider span {
    display: inline-block;
    padding: 0 8px;
    background: blueviolet;
    border-radius: 1rem;
    color: #fff;
    position: relative;
    z-index: 1;
}

.conversation-form {
    padding: 8px 16px;
    background-color: var(--body-color);
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}
.conversation-form-group {
    width: 100%;
    position: relative;
}
.conversation-form-input {
    background-color: var(--bs-dark);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px 40px 10px 40px;
    font: inherit;
    font-size: 14px;
    resize: none;
    width: 100%;
    display: block;
    line-height: 1.5;
    max-height: calc(20px + ((14px * 2) * 6));
}
.conversation-form-input:focus {
    border-color: var(--bs-dark-text);
}
.conversation-form-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    position: fixed;
    background-color: transparent;
    outline: transparent;
    font-size: 20px;
    color: var(--bs-dark-text);
    cursor: pointer;
    flex-shrink: 0;
}
button.conversation-form-button.conversation-form-submit.text {
    transform: rotate(45deg);
    margin-right: 5px;
}
.conversation-form-button:hover {
    color: var(--text-color);
}
.conversation-form-submit {
    color: var(--text-color);
}
.conversation-form-more {
    padding: 16px 16px;
    background-color: var(--body-color);
    opacity: 0;
    display: none;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: bottom right;
    transition: all .15s ease-in-out;
}
.conversation-form-more.active {
    opacity: 1;
    display: block;
    visibility: visible;
    transform: scale(1);
}
.conversation-form-group-more {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.more-conversation {
    display: flex;
    text-decoration: none;
    color: var(--bs-dark-text);
    align-items: center;
    flex-direction: column;
}
.more-conversation-icon {
    padding: 0.8rem 0.9rem;
    background: #00f;
    color: var(--bs-white);
    border-radius: 2rem;
    height: 3rem;
    cursor: pointer;
}

.conversation-default {
    align-items: center;
    justify-content: center;
    color: var(--bs-dark-text);
}
.conversation-default i {
    font-size: 32px;
}
.conversation-default p {
    margin-top: 16px;
}
/* end: Conversation */



/* start: Breakpoints */
@media screen and (max-width: 1600px) {
    .chat-container {
        max-width: unset;
        height: 100vh;
    }
}

@media screen and (min-width: 992px) {
    .conversation {
        padding-left: 12.5rem !important;
    }
}

@media screen and (min-width: 767px) {
    .conversation {
        padding-left: 3.5rem;
        padding-right: 17.5rem;
    }
}

@media screen and (max-width: 767px) {

    .conversation,
    .chat-content {
        padding-left: unset;
    }
    .content-sidebar {
        width: 100% !important;
    }

    .chat-content {
        position: relative;
    }
    .conversation.active {
        position: relative;
        z-index: 20;
    }
    .conversation-back {
        display: flex;
    }
    .conversation-default.active {
        display: none;
        padding: 16px;
    }

    .conversation-item-dropdown-list {
        top: 46px !important;
        right: 1.5rem !important;
    }
}
/* end: Breakpoints */