/* Mrs-CSS */
.profile {
    top: -2px;
    width: 100%;
    height: 40px !important;
    background: var(--body-color);
    box-shadow: 0 0 1px var(--box-border-color);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

p.font-italic.mb-0 {
    width: 30rem;
}

.imageWrapper {
    width: 30%;
    padding-bottom: 12rem;
    border-radius: 8rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.imageWrapper img {
    border-radius: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 1px 3px var(--text-color);
}

.update_image {
    display: flex;
    color: var(--text-color);
    background: var(--body-color);
    border-radius: 4rem;
    height: 2.4rem;
    width: 2.4rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 1px 3px var(--text-color);
}

.input-group-text {
    background: var(--bg-body-color);
    border: none;
}

.form-control {
    background: var(--bg-body-color) !important;
    color: var(--box-border-color) !important;
    border: none;
    box-shadow: none !important;
}

.rows {
    display: flex;
    flex-wrap: wrap;
}

.col-md-12 {
    background: var(--bg-body-color) !important;
    border-radius: 5px;
    position: relative;
    display: none;
}

.col-md-12.active {
    display: block;
}

.pro-ico {
    display: none;
    cursor: pointer;
}

.pro-ico.active {
    display: block;
}

button.btn.text {
    color: var(--body-color);
}

.profile-layout {
    width: 100%;
    /* padding: 10px;
    height: 100%;
    overflow: auto;
    background: var(--body-color);
    box-shadow: 0 0 1px var(--box-border-color); */
}

label.list-group-item.rounded-3.py-3 {
    border: none;
    background: var(--body-color) !important;
    box-shadow: 0 0 1px 2px var(--bg-body-color) !important;
}
span.d-block.small.opacity-50 {
    text-transform: none !important;
}
span.text-profile-style {
    text-transform: none !important;
}


/* this is the gender css */
.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.form {
	background: #cccccc;
	height: 100vh;
	width: 100%;
}

.form-row {
	background: #ffffff;
	border-radius: 2rem;
	height: 40px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	width: 150px;
    margin-left: 1.8rem;
}

.form-inputs {
	-webkit-appearance: none;
	appearance: none;
}

.form-inputs::before {
	content: '';
	cursor: pointer;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.form-inputs:checked::before {
	background: #21209c;
}

.form-inputs::after {
	content: '';
	cursor: pointer;
	height: 15px;
	border-radius: 50px;
	border: 4px solid #000;
	left: 10%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 15px;
}

.form-inputs:checked::after {
	border: 4px solid #ffffff;
}

.form-label {
	color: #000;
	font-size: 1.1rem;
	z-index: 1;
}

.form-inputs:checked ~ .form-label {
	color: #ffffff;
}


/* this is the dob css */
.form-dob {
    background: #fff;
    border-radius: 5px;
    height: 40px;
    margin: 10px;
    position: relative;
    width: 10.6rem;
    z-index: 1;
    margin-left: 1.8rem;
    display: flex;
}
input.dob:focus-visible {
    outline: none;
}

button.btn.text.bg-success.m-2 {
    border-radius: 5px !important;
}


@media (min-width: 992px) {
    .profile-layout {
        margin-left: 11.5rem !important;
    }
}

@media (min-width: 768px) {
    .profile {
        top: -2px;
        width: auto;
        border-radius: 0;
        background: none;
        box-shadow: none;
        position: inherit !important;
    }

    .profile-layout {
        width: 43rem;
        margin-left: 2.8rem;
    }
}








.nav-pills {
    background: rgb(30, 33, 38);
    border-radius: 0.6rem;
    padding: 0.3125rem;
}
.nav-justified .nav-item, .nav-justified > .nav-link {
    flex-basis: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
}
.nav-link.text.active {
    background: var(--body-color);
}
.list-group-item {
    position: relative;
    display: block;
    color: var(--text-color);
    background-color: rgb(22, 25, 28);
    padding: 1.25rem 1.5rem;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(30, 33, 38);
    border-image: initial;
}




/* Edit Profile */

.col-auto .avatar {
    height: 44px;
    width: 44px;
    position: relative;
    display: flex;
}
.avatar, .avatar .avatar-img, .avatar .avatar-text {
    border-radius: 50%;
}
.avatar .avatar-img {
    max-width: 100%;
    height: auto;
}
.badge-circle {
    border-radius: 1rem;
    height: calc(1em + 0.778em);
    padding: 0.389em;
    background: var(--body-color) !important;
}
.badge-circle svg {
    height: 1em;
    width: 1em;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.stretched-label {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.card-body.rounded-3 {
    background: #1e2126;
}
.accordion-item {
    color: inherit;
    background-color: #1e2126;
    border: 2px solid #1e2126;
}
a.text-reset {
    background-color: #1e2126;
    color: var(--text-color) !important;
    text-decoration: none;
}
.accordion-header {
    padding: 1.25rem 0 1.5rem 0;
    border-top: 1px solid #495057;
}
.accordion-item:first-child .accordion-header {
    border-top: 0;
}
.text-muted {
    color: #adb5bd !important;
}
.btn-primary {
    color: #fff;
    background-color: #2787f5;
    border-color: #2787f5;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0.875rem 1.125rem;
    font-size: .9375rem;
    border-radius: 0.6rem;
}
label {
    color: #f8f9fa;
}
h6.text-profile-style.mb-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 16rem;
}
p.d-block.small.opacity-50.m-0 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 30rem;
}