input.search-input {
	border: none;
	outline: 0;
	padding: 2.8%;
	padding-left: 3rem;
	border-radius: 8px;
	background: var(--bg-body-color);
	color: var(--text-color);
}

svg.bi.bi-search.position-absolute {
	top: 2.4rem;
	left: 4.4rem;
}

.users-profile {
	width: 100%;
	height: 100%;
	padding-top: 6rem;
	padding-left: 2rem;
	padding-right: 2rem;
	position: fixed;
	overflow: scroll;
	left: auto;
}

.search-layout {
	background: var(--body-color);
}

span.text-muted.time {
    font-weight: 400 !important;
    font-size: small !important;
}

.user-name {
	font-size: large;
    font-weight: bold;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	width: 12rem;
}
.user-bio {
	font-size: small;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	width: 20rem;
}


@media (min-width: 992px) {
	.search-layout {
        left: 12.6rem !important;
    }

	input.search-input {
		padding: 1% !important;
		padding-left: 3rem !important;
	}

	svg.bi.bi-search.position-absolute {
		top: 2.6rem;
	}

	.users-profile {
		left: 9.5rem !important;
		padding-right: 1rem !important;
		padding-left: 4rem !important;
	}
}

@media (min-width: 768px) {
    .search-layout {
        left: 52px;
		height: 5.8rem;
		width: -webkit-fill-available !important;
    }

    a.text.me-3 {
        display: none;
    }

	input.search-input {
		padding: 1.3%;
		width: 30rem !important;
		padding-left: 3rem;
	}

	svg.bi.bi-search.position-absolute {
		top: 2.4rem;
		left: 1.3rem;
	}

	.users-profile {
		left: 50px;
		width: -webkit-fill-available;
	}
}