.side-setting {
    border: 1px solid;
}

/* Mobile responsive */
@media (min-width: 992px) {
    .nav-item .nav-link span {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .overflow-auto.main-display {
        flex-direction: row !important;
    }

    .nav-item.mb-0 {
        margin-bottom: 1.5rem !important;
    }

    .nav-icon.list-unstyled {
        flex-direction: column !important;
    }
}