<FilesMatch "\.(ico|pdf|jpg|jpeg|png|webp|gif|html|htm|xml|txt|xsl|css)$">
    Header set Cache-Control "max-age=31536050"
</FilesMatch>

ErrorDocument 404 /error.php
ErrorDocument 500 "<H1>Some error, contact administrator</H1>"

RewriteEngine On
RewriteBase /

RewriteEngine On


# Add these conditions to exclude existing files and directories
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite URLs to profile.php for username handling
RewriteRule ^/?profile/([^/]+)?$ profile.php?username=$1 [L,QSA,NC]

RewriteRule ^/?discussion/([^/]+)?$ discussion.php?discuss_name=$1 [L,QSA,NC]

RewriteRule ^/?search([^/]+)?$ search.php?q=$1 [L,QSA,NC]

RewriteRule ^/?files/([^/]+)?$ files.php?name=$1 [L,QSA,NC]
RewriteRule ^/?filesb/([^/]+)?$ filesb.php?name=$1 [L,QSA,NC]
RewriteRule ^/?ava/([^/]+)?$ ava.php?name=$1 [L,QSA,NC]
RewriteRule ^/?bgava/([^/]+)?$ bgava.php?name=$1 [L,QSA,NC]

RewriteRule ^/?api/([^/]+)?$ api.php?rquest=$1 [L,QSA,NC]
RewriteRule ^/?api/([^/]+)/(.+)?$ api.php?rquest=$2&namespace=$1 [L,QSA,NC]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/.]+)$ $1.php [L]